<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">

    <display-name>Приложение комнаты</display-name>

    <servlet>
        <servlet-name>RoomCreateController</servlet-name>
        <servlet-class>by.barzov.controller.RoomCreateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RoomCreateController</servlet-name>
        <url-pattern>/room/create.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RoomListController</servlet-name>
        <servlet-class>by.barzov.controller.RoomListController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RoomListController</servlet-name>
        <url-pattern>/room/list.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RoomSaveController</servlet-name>
        <servlet-class>by.barzov.controller.RoomSaveController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RoomSaveController</servlet-name>
        <url-pattern>/room/save.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowRoomController</servlet-name>
        <servlet-class>by.barzov.controller.ShowRoomController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowRoomController</servlet-name>
        <url-pattern>/room/room.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OnLightController</servlet-name>
        <servlet-class>by.barzov.controller.OnLightController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OnLightController</servlet-name>
        <url-pattern>/room/light-on.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExceptionController</servlet-name>
        <servlet-class>by.barzov.controller.ExceptionController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExceptionController</servlet-name>
        <url-pattern>/room/exception.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>